<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Create Account</title>
    <link rel="stylesheet" href="https://mcwooden.github.io/todo/style.css">
    <link rel="stylesheet" href="https://mcwooden.github.io/todo/css/card.css">
    <link rel="shortcut icon" href="https://mcwooden.github.io/todo/img/favico.png" type="image/x-icon">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #383e57;
        }
        .container {
            box-shadow: none;
            gap: 1em;
        }
        .card {
            padding: .5em;
            background-color: #2b2f42;
            border: none;
            margin: 0;
        }
        .container a {
            text-decoration: none;
            color: #daa520;
        }
        .card img {
            width: 1.5em;
        }
        .google {
            background-color: #2d3246;
        }
        .google p {
            color: goldenrod;
            font-weight: 500;
            background: -webkit-linear-gradient(45deg, #7253ee, #9753ee);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .gradient {
            background: linear-gradient(45deg, #9753ee, #7253ee);
            padding: 1px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="https://x6todo.herokuapp.com/google/callback">
            <div class="gradient">
                <div class="card google">
                    <img src="img/google.svg">
                    <p>Lanjutkan dengan google</p>
                </div>
            </div>
        </a>
        <div class="card">
            <img src="img/right-to-bracket-solid.svg">
            <p>Sudah punya akun? <a href="https://mcwooden.github.io/todo/profile">Login</a></p>
        </div>
    </div>
</body>
</html>