body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #2b2f42;
    color: #fff;
}
.container {
    box-shadow: none;
    gap: 1em;
    width: 100%;
}
@media screen and (min-width: 512px) {
    .container {
        width: 512px;
    }
}
form {
    overflow: visible;
}
form input {
    background-color: #34384f;
    border: none;
    color: inherit;
}
form input[type="submit"] {
    background-color: #277BC0;
    box-shadow: #277bc076 0px 8px 24px;
    color: inherit;
}